@import '@styles/main';

.header {
  grid-column: span 2;
  grid-row: 1;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 16.75rem 1fr minmax(160px, max-content) max-content;
  align-items: center;
  background: color(fieldBg);
  border-bottom: 1px solid color(lineBg);
  column-gap: 1.5rem;
  padding: 0rem 2rem;
  border-bottom: 1px solid color(lineBg);
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
  border-right: 1px solid color(lineBg);

  img {
    &:hover {
      cursor: pointer;
    }
  }
}

.title {
  color: color(title);
}

.btn {
  @include btn-primary-l;
}

.option {
  width: 1.25rem;
  height: 24px;
  position: relative;
  .button {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 4px;

    .icon {
      color: color(subTitle);
    }

    &:hover {
      cursor: pointer;
      transition: $animate;
      background: color(bg);
    }
  }

  &__dropdown {
    position: absolute;
    background: color(bg);
    right: 0;
    top: 2.5rem;
    width: 8rem;
    border-radius: $border-radius;
    display: grid;
    grid-auto-flow: row;
    padding: 16px;

    &_list {
      display: grid;
      grid-auto-flow: row;
      row-gap: 1rem;
    }

    &_item {
      color: color(subTitle);

      &:hover {
        opacity: 0.6;
        cursor: pointer;
      }
    }

    &_item.error {
      color: $color-red;

      &:hover {
        opacity: 1;
        color: $color-red-hover;
      }
    }
  }
}
