@import '@styles/main';

.column {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: max-content;
  row-gap: 1.5rem;
}

.head {
  display: grid;
  grid-template-columns: 1fr 24px 20px;
  grid-auto-rows: 1.5rem;
  column-gap: 0.5rem;
  grid-auto-flow: column;
  align-items: center;
}

.name {
  @include body-m;
  text-transform: uppercase;
  color: color(subTitle);
}

.tasks {
  display: grid;
  grid-auto-flow: row;
  row-gap: 1.25rem;
}

.drag {
  border-radius: $border-radius;
  outline: 2px solid $color-main-purple;
}

.tasks_mobile {
  display: none;
}

.empty {
  @include body-l;
  text-align: center;
  color: color(subTitle);
}

@include media(md, mx) {
  .tasks_desktop {
    display: none;
  }
  .tasks_mobile {
    display: block;
  }
}
